@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form asp-action="Login" method="post" class="form-horizontal" style="margin-top:5%">
        @Html.AntiForgeryToken()
        <div class="row  justify-content-center align-items-center">
            <div class="col-md-6">
                <h1>@TempData["title"].ToString()</h1>
                <p class="mt-3 mb-3">
                    @foreach (string line in (IEnumerable<string>)TempData["content"])
                    {
                        if (string.IsNullOrEmpty(line))
                        {
                            <br />
                        }
                        else
                        {
                            @line <br />
                        }
                    }
                </p>
                <div class="row justify-content-center pr-3 pl-3">
                    <a asp-action="@TempData["action"]" asp-controller="@TempData["controller"]" class="btn btn-primary" style="width: 100%;">Ga verder</a>
                </div>
            </div>
        </div>
    </form>
</div>

