@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="mt-2"> Privacy policy</h1>
    <hr />
    <div>
        Door deel te nemen aan het taalcafé accepteert u dat een coördinator uw e-mailadres en telefoon nummer weet en via deze weg mogelijk contact met u op kan nemen.
        <br /><br />

        By participating in the language café you accept that a coordinator knows your e-mail address and telephone number and may be able to contact you through this means.
    </div>
</div>
