@model Taalcafe.Models.ViewModels.FileModel;
<li class="group-list-item file">
    <div class="row">
        @Html.HiddenFor(model => model.path)
        @Html.HiddenFor(model => model.status, new { @class="status"})
        <div class="col-md-3">
            <input type="button" class="btn btn-danger deleteButton" value="Verwijderen">
        </div>
        <div class="col-md-4">
            <input asp-for="file" class="form-control fileInput" type="file">
        </div>
        <div class="col-md-5">
            @if (Model.path != "" && Model.path != null)
            {
                <img class="previewImage" src="~/uploads/@Model.path">
            }
            else
            {
                <img class="previewImage" src="" hidden>
            }
        </div>
        @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
    </div>
</li>