TaalcafeMVC/Taalcafe/.vs/Taalcafe/DesignTimeBuild/.dtbcache.v2
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/AbsoluteOutputAssemblyPath.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/AdditionalProbingPaths.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/DebuggeeProgram.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/DebuggeeArguments.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/ContainerName.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/ContainerId.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/DebuggeeKillProcessCommand.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/ContainerRunContext.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/ContainerDevelopmentMode.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/ContainerOperatingSystemFlavor.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/DebuggeeWorkingDirectory.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/FastModeProjectMountDirectory.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/TargetFramework.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/OperatingSystemName.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/ImageId.cache
TaalcafeMVC/Taalcafe/Taalcafe/obj/Container/ImageBuildContext.cache
