@* @model Model *@
@{
    ViewData["Title"] = "Call";
}

@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.min.js"> </script>
    <script type="text/javascript" src="~/js/call.js"> </script>
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hieronder is je webcam beeld te zien.</p>
    <div>
        <video id="remoteVideo1"  width="640" height="480"> </video>
        <video id="remoteVideo2"  width="640" height="480"> </video>
        <video id="localVideo" width="640" height="480" muted> </video>
    </div>
    <div>
        <input id="muteButton" value="Demp microfoon" type="button" onclick="muteLocalSound()" disabled/>
        <input id="pauseButton" value="Zet camera uit" type="button" onclick="muteLocalVideo()" disabled/>
        <input id="startCallButton" value="Start videogesprek" type="button" onclick="initiateCall()" disabled/>
        <input id="stopCallButton" value="Ophangen" type="button" onclick="hangup()" disabled/>
        <input id="askHelpButton" value="Vraag om hulp" type="button" onclick="toggleHelp()"/>
    </div>
</div>